
  <% @tables.each do |table| %>
<div class="card-trip">
  <%= cl_image_tag table.photo.key, height: 300, width: 400, crop: :thumb, gravity: :face%>
  <div class="card-trip-infos">
    <div>
      <h2><%= table.name %></h2>
      <p><%= table.description %></p>
      <p><%= table.author %></p>
    </div>
    <h2 class="card-trip-pricing"><%= table.price%>€</h2>
    <%= cl_image_tag User.find(table.user_id).photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class:"card-trip-user avatar-bordered" %>
  </div>
      <div class= "action">
       <% if (user_signed_in? && @user.id == table.user_id) %>
        <div>
          <%= link_to 'See More', table_path(table) %>
        </div>
        <div>
          <%= link_to 'Update', edit_table_path(table), method: :get %>
        </div>
        <div>
          <%= link_to 'Delete', table_path(table), method: :delete,
          data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
      </div>
</div>
  <% end %>
