
<p>Utilisateur: <%= @contact.last_name %> <%= @contact.first_name %></p>
<p>Téléphone Utilisateur: <%= @contact.phone %></p>
<p>adresse mail: <%= @contact.email %></p>
<p>Contenu de l'enquête: <%= @contact.content %></p>
