
<div class="card-product">
  <%=cl_image_tag @table.photo.key, width: 100, class:"show" %>
  <div class="card-product-infos">
    <h2><%= @table.name %></h2>
    <div><%= @table.description %></div><br><br>
    <%= @table.price %>€<br><br>
<%= link_to 'Back', root_path %>
  </div>
</div>
